#nc-status {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 16px;
}

.text-btn {
    display: inline-block;
    padding: 1px 3px;
    font-size: smaller;
    color: white;
    background-color: #0088cc;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;   
}
select {
    max-width: 200px;
}

.input-file {
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    color: var(--input-text-color);
    padding: 3px 5px;
    font-size: 13px;
}
